@charset "UTF-8";
* {
	margin: 0px;
	padding: 0px;
}

#wrap {
	width: 1200px;
	height: 2000px;
	margin: auto;
}

#header {
	width: 100%;
	height: 200px;
	background-color: #CEF6CE;
}

#main {
	width: 100%;
	height: 1600px;
	background-color: #EFFBF5;
	text-align: center;
	float: left;
}

#content {
	width: 70%;
	height: 1600px;
	background-color: #EFFBF5;
	text-align: center;
	float: left;
}

#right {
	width: 30%;
	height:1600px;
	text-align: center;
	float: right;
}
#right_down1 {
	width: 100%;
	height: 300px;
	background-color: #EFFBF5;
	text-align: center;
   align-content: center;
}
#right_down2 {
	width: 100%;
	height: 500px;
	background-color: #EFFBF5;
	text-align: center;
	margin-top:30px;
	padding-bottom: 30px;
}

#right_down3 {
	width:100%;
	height: 500px;
	background-color: #EFFBF5;
	text-align: center;
	margin-top:30px;
	padding-top: 30px;
}

#footer {
	padding-top:30px;
	width: 100%;
	height: 130px;
	background-color: #CEF6CE;
	text-align: center;
	float: left;
}

#header h1 {
	margin:20px;
	font-style: italic; 
	font-size: 2.5em;
}
#header #logo{ float: left; }
#header ul {
	padding-top: 30px;
	padding-left: 250px;
}
#gnb{float: right;}
#banner{float: left; margin-top: 80px;  font:12px;}

#header ul li {
	list-style: none;
	display: inline-block;
	width: 110px;
	border-left: 1px solid #999;
	font: bold 12px Dotum;
	padding: 0 5px;
}

#header ul li a {
	text-decoration: none;
}
