@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

#wrap {
	width: 1300px;
	height: 2000px;
	margin-left: 300px;
	margin: auto;
}

#header {
	width: 100%;
	height: 250px;
	text-align: center;
	background: #ffffff; 
}

#main {
	width: 100%;
	height: 1600px;
	text-align: center;
	float: left;
}

#content {
	width: 60%;
	height: 1600px;
	text-align: center;
	float: left;
}

#right {
	width: 30%;
	height: 1600px;
	text-align: center;
	float: left;
}

#right_down1 {
	width: 100%;
	height: 300px;
	text-align: center;
	align-content: center;
}

#right_down2 {
	width: 100%;
	height: 500px;
	text-align: center;
	margin-top: 30px;
	padding-bottom: 30px;
}

#right_down3 {
	width: 100%;
	height: 500px;
	text-align: center;
	margin-top: 30px;
	padding-top: 30px;
}

#footer {
	padding-top: 30px;
	width: 100%;
	height: 130px;
	text-align: center;
	float: right;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(left,  #ffffff 4%, #ffffff 10%, #ffffff 48%, #ffffff 48%, #42e560 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #ffffff 4%,#ffffff 10%,#ffffff 48%,#ffffff 48%,#42e560 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #ffffff 4%,#ffffff 10%,#ffffff 48%,#ffffff 48%,#42e560 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#42e560',GradientType=1 ); /* IE6-9 */
}

#header h1 {
	margin: 20px;
	font-style: italic;
	font-size: 2.5em;
}

#header #logo {
	padding-left:30px;
	float: left;
}

#header #ser {
	margin-left: 50px;
	padding-top: 100px;
}

#gnb {
	float: right;
	margin-top: 0px;
}

#banner {
	float: left;
	margin-top: 0px;
	margin-left: 150px;
}

#header ul {
	
	padding-left: 250px;
}

#header ul li {
	list-style: none;
	display: inline-block;
	width: 110px;
	font: bold 12px Dotum;
}

#header ul li a {
	text-decoration: none;
}

#header ul li button {
	width: 100px;
	height: 30px;
	background-color: white;
	color: black;
	border: 0px;
}

#header ul li button:hover {
	background-color: #4CAF50;
	color: white;
}

.tag{text-align: left;font-size:13px;}
a{text-decoration: none;color:gray;}
#result{width:450px;border:1px solid gray;height:100px;padding:1px;
font-size: 12px; display:none;}
#cardinfo{width:600px;border:1px solid gray;padding:1px;margin-top:20px;display:none;}
#nodeposit{width:600px;border:1px solid gray;height:150px;padding:10px;margin-top:20px;display:none;}
#buyDiv{width:600px; border: 1px solid gray;}
#details{width:580px;border:1px solid gray;height:130px;padding:1px;margin-top:10px;}
#final{width:600px;border:1px solid gray;padding:2px;margin-top:20px;}
label{margin-left:80px;}
li{font-size:15px}
table{margin:auto;}


